<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.softwork.ydk.beacontestapp" >

    <!-- Bluetooth Permission for Beacon -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="true" />

    <!-- Location Permission for Android version 23(Marshmallow) or higher -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/WhiteTheme" >
        <service android:name="com.perples.recosdk.RECOBeaconService" />
        <service android:name=".Beacon.BeaconMonitoringListener" />
        <service android:name=".Beacon.BeaconRangingListener" />

        <activity android:name=".StartActivity" >
        </activity>
        <activity android:name=".BeaconActivity" >
        </activity>
        <activity android:name=".ConstructMFActivity" >
        </activity>
        <activity android:name=".IntertiaActivity" >
        </activity>
        <activity
            android:name=".SplashActivity"
            android:theme="@style/WhiteThemeNoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:theme="@style/BlueThemeNoActionBar" >
        </activity>
        <activity android:name=".FloorPlanList.FloorPlanListActivity" >
        </activity>
        <activity android:name=".FloorPlanActivity.FloorPlanActivity" >
        </activity>
        <activity android:name=".FloorPlanActivity.FloorPlanEditActivity" >
        </activity>
        <activity android:name=".GoogleMaps.GoogleMapActivity" >
        </activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCnZgN6GEO7CL_lAmMLGpOYg-ILope-9rI" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity android:name=".JoinActivity" >
        </activity>
    </application>

</manifest>
